.container {
  width: 100%;
  height: 50%;
  background-color: black;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.name-input,
.email-input,
.password-input {
  width: 500px;
  height: 30px;
  padding: 12px 8px;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.sign-btn,
.log-out {
  display: block;
  background-color: rgb(96, 96, 233);
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
}
