div input {
  width: 400px;
  height: 30px;
  padding: 10px 12px;
  border: solid 1px black;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

div button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 14px;
  font-size: 15px;
}
