.jobs-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.jobs-container p {
  text-align: left;
  line-height: 10px;
  font-size: 16px;
  font-weight: 500;
}

.jobs-container button {
  margin-left: 10px;
}

.update-btn {
  background-color: rgb(8, 121, 8);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.delete-btn {
  background-color: rgb(127, 17, 17);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.header {
  position: fixed;
  top: 20px;
  left: 30px;
}

.logout-btn {
  position: fixed;
  bottom: 50px;
  left: 15px;
  background-color: rgb(152, 2, 2);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.create-job {
  position: fixed;
  top: 50px;
  right: 15px;
  background-color: rgb(65, 123, 6);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}
